h1 {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
}

input {
    height: 48px;
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
}

button {
    width: 160px;
    height: 48px;
    margin-bottom: 10px;
}