ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

ul li {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 30px;
}

ul li img {
    width: 150px;
}